{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'todo/workers.css' %}">
</head>
<body style="background-color: #a2bb07;">
<div class="container mt-4 pb-2 rounded" style="border: 2px green solid">
    <h2 class="text-center text-white" >ALL WORKERS</h2>
     <ol class="list-group list-group-numbered ml-2 mt-2">
                {% for worker in all_workers  %}
                <li class="list-group-item rounded d-flex mt-3">
                    <div class="row bg-light mt-3 ml-2 mr-2 w-100 border border-warning">
                        <div class="col-10 mt-2 rounded">
                            <div class="row">
                                <div class="col">{{ worker.surname }}</div>
                                <div class="col">{{ worker.forename }}</div>
                                <div class="col"> id: {{worker.id}}</div>
                                <div class="col"><a href="details/{{worker.id}}/"> details </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-2 mt-2 text-right">
                            <form action="worker_del/{{worker.id}}/"
                                    method="POST">{% csrf_token %}
                                    <button type="submit" value="del" class="bg-danger">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg>
                                    </button>
                                </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>


             <div class="container mx-auto text-center mt-5" style="border: 2px yellow solid">
                 <h2 class="text-center text-white">Add new Worker</h2>
                    <div class="text-center" style="margin-left:auto; margin-right:auto">
                    <form method="POST" action="addWorker/new/" class="form-inline">{% csrf_token %}
                        <input type="text" class="w-50 form-control" placeholder="forename" name="forename">
                        <input type="text" class="w-50 form-control" placeholder="surname" name="surname">
                        <input type="text" class="w-50 form-control" placeholder="age" name="age">
                        <input type="text" class="w-50 form-control" placeholder="content" name="content">

                        <button type="submit" class="btn btn-success"> Add worker
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor">
                                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                              </svg>
                        </button>
                    </form>
                    </div>
                </div>
</div>
</body>
</html>
